/* reset */
*{margin:0;padding:0;font-family:Helvetica,sans-serif;font-size:12px;line-height:100%;color:#141414;}
html,body{width:100%;height:100%;-webkit-text-size-adjust:none}
html{overflow-y:scroll;-webkit-overflow-scrolling:touch}
body {background-color:#fff}
input,a,select,option,img,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0}
ul, ol, li { list-style:none; }
img {border:0;line-height:100%;vertical-align:top;outline:none}
em { font-style:normal}
textarea {resize:none}
a {color:inherit;text-decoration:none;cursor:pointer}
iframe{vertical-align:top}

/* input reset */
input[type='text'],input[type='email'],input[type='number'], select, textarea {vertical-align:top;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
input[type='text'],input[type='email'],input[type='number']{display:inline-block;width:100%;height:29px;line-height:16px;padding:6px 7px 6px 7px;vertical-align:middle;background:#ffffff;border:#cdcdcd 1px solid;color:#666;}
select{display:inline-block;width:100%;height:40px;line-height:16px;padding:5px 31px 6px 5px;vertical-align:middle;border:#cdcdcd 1px solid;border-radius:0px;font-family:'Nanum Gothic';font-size:13px;color:#939393;background:#ffffff url("http://smtown.cloudapp.net/_img/ui/bg_select.png") right top no-repeat;text-overflow:'';text-indent:0.01px;}
textarea {width:100%;min-height:200px;padding:6px 7px 6px 7px;border:#cdcdcd 1px solid;color:#666;}

/* color */
.sm_pink{color:#ed639e}
.sm_black{color:#141414}

/* common */
.show,.block{display:block}
.hide{display:none}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
#animTarget{position:absolute;top:-500px;left:-500px;width:1px;height:1px;z-index:-1}
.nob{border:none !important}
.fl{float:left}
.fr{float:right}
.clear:after{display:block;content:"";clear:both}
.font_bold{font-weight:bold}
.text_center{text-align:center}

/* margin */
.mt0{margin-top:0 !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}
.mb0{margin-bottom:0 !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}
.mr0{margin-right:0 !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}
.ml0{margin-left:0 !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}

/* padding */
.pt0{padding-top:0 !important}
.pt5{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}
.pb0{padding-bottom:0px !important}
.pb5{padding-bottom:0px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}
.pr0{padding-right:0 !important}
.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}
.pl0{padding-left:0 !important}
.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}

/* width ratio */
.wper5{width:5%}
.wper10{width:5%}
.wper15{width:5%}
.wper20{width:5%}
.wper25{width:5%}
.wper30{width:5%}
.wper35{width:5%}
.wper40{width:5%}
.wper45{width:5%}
.wper50{width:5%}
.wper55{width:5%}
.wper60{width:5%}
.wper65{width:5%}
.wper70{width:5%}
.wper75{width:5%}
.wper80{width:5%}
.wper85{width:5%}
.wper90{width:5%}
.wper95{width:5%}
.wper100{width:5%}
.wper5{width:5%}
.wper5{width:5%}

/* custom check box */
.cus_check{position:relative;width:20px;height:20px;cursor:pointer}
.cus_check input{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;cursor:pointer}
.cus_check span{display:block;width:100%;height:100%;background:url(http://ecommercesment.s3.amazonaws.com/preorder/images/static/pc/cart/btn_check_20x20.png) no-repeat scroll 0 0 transparent}
.cus_check input:checked + span{background-image:url(http://ecommercesment.s3.amazonaws.com/preorder/images/static/pc/cart/btn_check_20x20_on.png)}



/* layout */
.wrap{position:relative;padding-left:250px}
.wrap:after{clear:both;display:block;content:""}
.snb{position:fixed;width:250px;top:0;left:0;height:100%}
.article{padding:30px}
.snb{padding:40px 0 0 40px}
.snb li{margin-bottom:15px}
.snb li a{text-decoration:none;font-size:14px}
.snb li a.on{font-weight:bold}

/* page */
.section{margin-bottom:50px}
.section>p{font-size:14px;line-height:160%}
.editor{border:2px solid #666;font-size:16px;width:500px;height:350px;padding:10px;line-height:150%}


* {
  word-wrap: break-word
}
.hashtag-span{
  font-size:16px;
  line-height:160%;
  color:#666
}
.hashtag-em {
  font-size:16px;
  line-height:160%;
  background-color: rgba(88, 144, 255, .15)
}
.hashtag-placeholder {
  font-size:16px;
  color: #ccc !important
}